*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:var(--dark-primary);
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}


